<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @mail %> оставил отзыв.</h1>
<p>
  <%= @message %>
</p>
<!--<p>Спасибо за использование нашего сервиса!</p>-->
</body>
</html>