<div id="p-load" class="dark">
    <div class="loader">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <span>Загрузка.....</span>
    </div>
</div>

<h4 class="page-title">КАЛЬКУЛЯТОР WN8</h4>
<div class="block-area shortcut-area">
    <p>Выберите танк</p>
    <!--value="{{tank.id}}" ng-selected="{{tank.id == 1}}"-->
    <div class="row">
        <div class="col-md-2 m-b-15">
            <select class="select" ng-model="tank.id" ng-change="loadStats()" title="Выберите танк...">
                <option value="0" selected>&nbsp;</option>
                <option ng-repeat="tank in tankTable" value="{{tank.id}}" data-select-watcher data-last="{{$last}}">{{tank.value}}</option>
            </select>
        </div>
    </div>
    <div class="row">
      <!--  <div class="col-md-1 m-b-15">-->
        <div class="col-md-2 m-b-15">
            <label for="battlesCount">Количество боев</label>
            <input type="text" id="battlesCount" class="form-control input-sm m-b-10" ng-model="tank.battles" disabled="">
        </div>
 <!--       </div>-->
        <div class="col-md-2 m-b-15">
            <label>Побед</label>
            <input type="text" class="form-control input-sm m-b-10" ng-model="tank.wins" disabled="">
        </div>
        <div class="col-md-2 m-b-15">
            <label>Уничтожено за бой</label>
            <input type="text" class="form-control input-sm m-b-10" ng-model="tank.frags">
        </div>
        <div class="col-md-2 m-b-15">
            <label for="damageDealt">Повреждений за бой</label>
            <input type="text" class="form-control input-sm m-b-10" ng-model="tank.damage_dealt" id="damageDealt">
        </div>
        <div class="col-md-2 m-b-15">
            <label>Обнаружено за бой</label>
            <input type="text" class="form-control input-sm m-b-10" ng-model="tank.spotted">
        </div>
        <div class="col-md-2 m-b-15">
            <label>Очков защиты базы за бой</label>
            <input type="text" class="form-control input-sm m-b-10" ng-model="tank.dropped_capture_points">
        </div>
    </div>
    <p style="display:none;" id="errorFrame">{{error}}</p>
    <div class="table-responsive overflow" id="resultFrame" style="display:none;">
        <table class="table table-bordered table-hover tile">
            <thead>
            <tr>
                <th>WN8</th>
                <th>WN8 Dmg</th>
                <th>WN8 WR%</th>
                <th>WN8 Spot</th>
                <th>WN8 Frag</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{result.wn8}}</td>
                    <td>{{result.r_winc}}</td>
                    <td>{{result.r_dmgc}}</td>
                    <td>{{result.r_fragc}}</td>
                    <td>{{result.r_spotc}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <input type="button" class="btn btn-default" ng-click="calculate()" value="Рассчитать"/>
</div>