<div id="p-load" class="dark">
    <div class="loader">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <span>Загрузка.....</span>
    </div>
</div>

<h4 class="page-title">КАК СЧИТАЕТСЯ СТАТИСТИКА</h4>

<!-- Shortcuts -->
<div class="block-area shortcut-area">
    <article class="block-area">
        <h3>WN7</h3>
        <blockquote>
            <p>Старый метод посчета боевой эффективности игрока.</p>
            <i class="icon-quote-right"></i>
        </blockquote>
        <h3 class="block-title">Формула</h3>
        <blockquote>
            <p>
                WN7 = (1240-1040/(MIN(TIER,6))^0.164)*FRAGS<br />
                +DAMAGE*530/(184*e^(0.24*TIER)+130)<br />
                +SPOT*125 *MIN(TIER,3)/3<br />
                +((185/(0.17+e^((WINRATE-35)*-0.134)))-500)*0.45<br />
                +(-1*(((5-min(TIER,5))*125)/(1+exp((TIER-(TOTAL/220^(3/TIER)))*1,5))))<br />
            </p>
            <i class="icon-quote-right"></i>
        </blockquote>
        <h3 class="block-title">Ключевые параметры подсчета</h3>
        <blockquote>
            <p>Средний урон за бой. За каждый бой игрок наносит определенное количество урона, который по-своему оценивается в рейтинге эффективности WN7. И наиболее ценными являются все танки до 6 уровня. То есть, играя на них, у вас больше шансов получить максимальное значение очков рейтинга.

                Фраги, при подсчете наибольшее влияние на показатель у высокоуровневых танков, 6 уровня и выше. На них фраги очень ценятся, и чем больше вы уничтожили, тем лучше для вашей статистики. На танках низкого уровня, лучше не добивать врагов, так как это дает минимальное значение для вашей статы.

                Засвет, эффективность засвета оценивается по количеству засвеченных врагов за бой. При поднятии рейтинга советуем заниматься засветом на технике 3 уровня и выше. Чем выше уровень танка, тем больше засвет влияет не изменение WN7.
            </p>
            <p>Средний уровень техники, если общий уровень техники ниже 6, то это снижает общий уровень рейтинга эффективности wn7.
            </p>
            <p>Остальные параметры - захват, защита базы, победы. Параметры не связаны с уровнем техники. берется средний показатель за все бои. Показатель побед при выигрыше влияет в положительную сторону на рейтинг, при проигрыше в отрицательную. Также влияет средний уровень техники у игрока, если у вас средний показатель меньше 6, то на вас накладывается штраф, он не большой, но постоянное его влияние негативно сказывается на статистике в WOT.
            </p>
            <i class="icon-quote-right"></i>
        </blockquote>
        <h3 class="block-title">Резюме<h3>
            <blockquote>
                <p>Стараться не использовать технику ниже 6ого уровня. Есть мнение, что при игре на повышение wn7 стоит использовать советский танк кв-1с.
                </p>
                <i class="icon-quote-right"></i>
            </blockquote>
    </article>
    <hr class="whiter" />
    <article class="block-area">
        <h3>WN8 (альфа) <h3>
            <blockquote>
                <p>Более новый метод расчета боевой эффективности игроков WOT. Ключевая разница в том, что подсчет рейтинга ведется не по средним показателям профиля игрока, а по каждому танку с учетом общего показателя на сервере. В сравнении с WN7 игра на низких уровнях учитывается по полной программе.<p>
                <i class="icon-quote-right"></i>
            </blockquote>
            <h3 class="block-title">Формула</h3>
            <blockquote>
                <p>
                    rDAMAGE = avgDmg     / expDmg<br />
                    rSPOT   = avgSpot    / expSpot<br />
                    rFRAG   = avgFrag    / expFrag <br />
                    rDEF    = avgDef     / expDef <br />
                    rWIN    = avgWinRate / expWinRate<br /><br />

                    WN8 = 980*rDAMAGEc + 210*rDAMAGEc*rFRAGc + 155*rFRAGc*rSPOTc + 75*rDEFc*rFRAGc + 145*MIN(1.8,rWINc)
                </p>
                <i class="icon-quote-right"></i>
            </blockquote>
            <h3 class="block-title">Ключевые параметры подсчета</h3>
            <blockquote>
                <p>Все параметры считаются относительно показателей exp всего сервера. То есть каждый параметр в зависимости от вашего вклада в игру будет учитываться и рейтинг на танке, только потом он будет соотноситься с общим показателем сервера. Например, если вы на ИС-3 процент побед составляет 54%, то в зависимости от него вы будете получать очки рейтинга.</p>
                <i class="icon-quote-right"></i>
            </blockquote>
            <h3 class="block-title">Резюме</h3>
            <blockquote>
                <p>Сложно выдать рецепт счастья повышения рейтинга wn8, так как играть на до на всей технике и хорошо. Не стоит играть на супер популярных танках Bat.-Châtillon 25 t, Waffenträger auf E 100, ИС-6, E100, так как на них играет огромное количество игроков, значительная часть которых мастера, поэтому добиться высоких результатов будет сложнее.</p>
                <i class="icon-quote-right"></i>
            </blockquote>
    </article>
    <hr class="whiter" />
    <article class="block-area">
        <h3>Рейтинг эффективности </h3>
        <blockquote>
            <p>Расчет аналогичен расчету WN8, однако не переоценивает очки захвата базы.</p>
            <i class="icon-quote-right"></i>
        </blockquote>
    </article>
    <hr class="whiter" />
    <h3>Нормативы для танков</h3>
    <div class="table-responsive overflow">
        <table class="table table-bordered table-hover tile">
            <thead>
            <tr>
                <th>#</th>
                <th>Бронетехника</th>
                <th>Тип</th>
                <th>Нация</th>
                <th>Лвл</th>
                <th>expDamage</th>
                <th>expSpot</th>
                <th>expFrag</th>
                <th>expDef</th>
                <th>expWinRate</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tbl in expTable" >
                <td>{{$index+1}}</td>
                <td><img ng-src="{{tbl.image}}" alt="{{tbl.name}}" />{{tbl.name}} </td>
                <td>{{tbl.type}} </td>
                <td>{{tbl.nation}} </td>
                <td>{{tbl.level}} </td>
                <td>{{tbl.exp_dmg}} </td>
                <td>{{tbl.exp_spot}}</td>
                <td>{{tbl.exp_frag}} </td>
                <td>{{tbl.exp_def}} </td>
                <td>{{tbl.exp_win}}% </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr class="whiter" />