<div class="container">
    <div class="row">
        <!--<div class="Absolute-Center is-Responsive">      -->
            <section id="login" >
            <!--    <header>
                    <h1>Танки!</h1>
                    <p>Введите имя пользователя.</p> 
                </header>
            -->
                <!-- Login -->
                <!-- tile -->
                <form class="box tile animated active form-inline" id="box-login" ng-submit="findUser()" >
                    <h4 class="m-t-0 m-b-15">Статистика для World of Tanks</h4>
                    <span>{{user.formInfo}}</span>
                    <div class="clearfix">
                        <input type="text" class="form-control" placeholder="" ng-model="user.name" value="{{user.name}}" >
                        <button type="submit" class="btn btn-default" >Игрок</button>
                    </div>                        
                </form>
                
            </section>
        <!--</div> -->
    </div>
</div>