<div id="p-load" class="dark">
    <div class="loader">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <span>Загрузка.....</span>
    </div>
</div>

<h4 class="page-title">ГЕНЕРАТОР ПОДПИСИ</h4>
<div class="block-area shortcut-area">
    <section id="generateSign">
        <img ng-src="{{sign.image}}" alt="sign" />
        <p style="display:none;" id="errorFrame">{{error}}</p>
        <!--value="{{tank.id}}" ng-selected="{{tank.id == 1}}"-->
        <div class="row">
            <div class="col-md-2 m-b-15">
                <label>Ник</label>
                <input type="text" class="form-control input-sm m-b-10" ng-change="loadSign()" ng-model="sign.nickname" />
            </div>
            <div class="col-md-2 m-b-15">
                <label>Цвет</label>
                <div class="color-pick input-icon">
                    <input class="form-control color-picker input-sm" type="text" ng-change="loadSign()" ng-model="sign.color" id="colorValue" />
                    <span class="color-preview"></span>
                    <span class="add-on">
                        <i class="sa-plus"></i>
                    </span>
                </div>
                <!--<input type="text" class="form-control input-sm m-b-10" ng-change="loadSign()" ng-model="sign.color" > -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 m-b-15">
                <label>Клан</label>
                <input type="text" class="form-control input-sm m-b-10" ng-change="loadSign()" ng-model="sign.clan" />
            </div>
        </div> 
        <input type="button" class="btn btn-default" ng-click="saveSign()" value="Создать"/>
    </section> 

    <section id="resultFrame" style="display:none;">
        <img ng-src="{{result.image}}" alt="sign" />
        <br />
        <p>Прямая ссылка на подпись:</p>
        <input type="text" class="form-control input-sm m-b-10" ng-model="result.image" />

        <p>ВВ код (для форумов):</p>
        <input type="text" class="form-control input-sm m-b-10" ng-model="result.forum" />

        <p>HTML код:</p>
        <input type="text" class="form-control input-sm m-b-10" ng-model="result.html" />
    </section>

    
</div>