<!-- LOADER -->
<div id="p-load" class="dark">
    <div class="loader">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <span>Загрузка.....</span>
    </div>
</div>
<h4 class="page-title">ТЕХНИКА ИГРОКА</h4>


<!-- Shortcuts -->
<div class="block-area shortcut-area">
    <!--ng-change="showHighest100()" ng-model="checkBattles"-->
<!--    <div class="checkbox m-b-5">
        <label>-->
            <input type="checkbox" ng-model="checkBattles" class="normal-checkbox">
            Показать/убрать технику с менее 100 боями
        <!--</label>-->
    <!--</div>-->
    <br />
    <div class="table-responsive overflow">
        <table class="table table-bordered table-hover tile">
            <thead>
            <tr>
                <th>#</th>
                <th><a href="" ng-click="order('name')"><i class="fa" ng-show="predicate === 'name'" ng-class="reverse ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&nbsp;Бронетехника</a></th>
                <th><a href="" ng-click="order('type')"><i class="fa" ng-show="predicate === 'type'" ng-class="reverse ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&nbsp;Тип</a></th>
                <th><a href="" ng-click="order('nation')"><i class="fa" ng-show="predicate === 'nation'" ng-class="reverse ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&nbsp;Нация</a></th>
                <th><a href="" ng-click="order('lvl')"><i class="fa" ng-show="predicate === 'lvl'" ng-class="reverse ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&nbsp;Лвл</a></th>
                <th><a href="" ng-click="order('battles')"><i class="fa" ng-show="predicate === 'battles'" ng-class="reverse ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&nbsp;Кол.боев</a></th>
                <th><a href="" ng-click="order('win_rate')"><i class="fa" ng-show="predicate === 'win_rate'" ng-class="reverse ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&nbsp;Процент побед</a></th>
                <th><a href="" ng-click="order('wn8')"><i class="fa" ng-show="predicate === 'wn8'" ng-class="reverse ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&nbsp;WN8</a></th>
                <th><a href="" ng-click="order('dmg.value')"><i class="fa" ng-show="predicate === 'dmg.value'" ng-class="reverse ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&nbsp;WN8 Dmg</a></th>
                <th><a href="" ng-click="order('wr.value')"><i class="fa" ng-show="predicate === 'wr.value'" ng-class="reverse ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&nbsp;WN8 WR%</a></th>
                <th><a href="" ng-click="order('spot.value')"><i class="fa" ng-show="predicate === 'spot.value'" ng-class="reverse ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&nbsp;WN8 Spot</a></th>
                <th><a href="" ng-click="order('frag.value')"><i class="fa" ng-show="predicate === 'frag.value'" ng-class="reverse ? 'fa-chevron-down' : 'fa-chevron-up'"></i>&nbsp;WN8 Frag</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tbl in mainTable | filter: cntBattlesFilter | orderBy:predicate:reverse" ng-show="tbl.show" >
                <td>{{$index+1}}</td>
                <td>{{tbl.name}} </td>
                <td>{{tbl.type}} </td>
                <td>{{tbl.nation}} </td>
                <td>{{tbl.lvl}} </td>
                <td>{{tbl.battles}} </td>
                <td>{{tbl.win_rate}}% </td>
                <td>{{tbl.wn8}} </td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{tbl.dmg.tooltip}}">{{tbl.dmg.value}} </td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{tbl.wr.tooltip}}">{{tbl.wr.value}}% </td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{tbl.spot.tooltip}}">{{tbl.spot.value}} </td>
                <td data-toggle="tooltip" data-placement="bottom" title="{{tbl.frag.tooltip}}">{{tbl.frag.value}} </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>