<!-- LOADER -->
<div id="p-load" class="dark">
    <div class="loader">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <span>Загрузка.....</span>
    </div>
</div>
            
                <h4 class="page-title">ОБЩАЯ СТАТИСТИКА</h4>
                                
                <!-- Shortcuts -->
                <div class="block-area shortcut-area">
                    <div class="table-responsive overflow">
                        <table class="table table-bordered table-hover tile">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th></th>
                                    <th>1 день</th>
                                    <th>7 дней</th>
                                    <th>Общий</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tbl in mainTable">
                                    <td>{{$index+1}}</td>
                                    <td>{{tbl.name}} </td>
                                    <td>{{tbl.value1}} </td>
                                    <td>{{tbl.value7}} </td>
                                    <td>{{tbl.value}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                
                    <!-- <a class="shortcut tile" href="">
                        <img src="img/shortcuts/money.png" alt="">
                        <small class="t-overflow">Purchases</small>
                    </a>
                    <a class="shortcut tile" href="">
                        <img src="img/shortcuts/twitter.png" alt="">
                        <small class="t-overflow">Tweets</small>
                    </a>
                    <a class="shortcut tile" href="">
                        <img src="img/shortcuts/calendar.png" alt="">
                        <small class="t-overflow">Calendar</small>
                    </a>
                    <a class="shortcut tile" href="">
                        <img src="img/shortcuts/stats.png" alt="">
                        <small class="t-overflow">Statistics</small>
                    </a>
                    <a class="shortcut tile" href="">
                        <img src="img/shortcuts/connections.png" alt="">
                        <small class="t-overflow">Connection</small>
                    </a>
                    <a class="shortcut tile" href="">
                        <img src="img/shortcuts/reports.png" alt="">
                        <small class="t-overflow">Reports</small>
                    </a> -->
                </div>
                
                <hr class="whiter" />

                <div class="block-area">
                    <!-- Main Chart -->
                    <div class="tile">
                        <h2 class="tile-title">{{charts.mainChart.name}}</h2>
                        <div class="p-10">
                            <div id="line-chart" class="main-chart" style="height: 250px"></div>

                            <!--<div class="chart-info">
                                <ul class="list-unstyled">
                                    <li class="m-b-10">
                                        {{charts.mainChart.name}} {{charts.mainChart.value}}
                                        <span class="pull-right text-muted t-s-0">
                                            <i class="fa fa-chevron-up"></i>
                                            +12%
                                        </span>
                                    </li>
                                    <li>
                                        <small>
                                            Local 640
                                            <span class="pull-right text-muted t-s-0"><i class="fa m-l-15 fa-chevron-down"></i> -8%</span>
                                        </small>
                                        <div class="progress progress-small">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <small>
                                            Foreign 560
                                            <span class="pull-right text-muted t-s-0">
                                                <i class="fa m-l-15 fa-chevron-up"></i>
                                                -3%
                                            </span>
                                        </small>
                                        <div class="progress progress-small">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                        </div>  
                    </div>
                </div>

                <!-- Quick Stats -->
                <div class="block-area">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="tile quick-stats">
                                <div id="stats-line-2" class="pull-left"></div>
                                <div class="data">
                                    <h2 data-value="{{charts.win8Chart.value}}">0</h2>
                                    <small>{{charts.win8Chart.name}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="tile quick-stats media">
                                <div id="stats-line-3" class="pull-left"></div>
                                <div class="media-body">
                                    <h2 data-value="{{charts.win7Chart.value}}">0</h2>
                                    <small>{{charts.win7Chart.name}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="tile quick-stats media">

                                <div id="stats-line-4" class="pull-left"></div>

                                <div class="media-body">
                                    <h2 data-value="{{charts.damageChart.value}}">0</h2>
                                    <small>{{charts.damageChart.name}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="tile quick-stats media">
                                <div id="stats-line" class="pull-left"></div>
                                <div class="media-body">
                                    <h2 data-value="{{charts.xpChart.value}}">0</h2>
                                    <small>{{charts.xpChart.name}}</small>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <hr class="whiter" />

                <div class="block-area">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tile">
                                <h2 class="tile-title">Техника игрока</h2>
                                <div class="p-10">
                                    <div id="pie-chart1" class="main-chart" style="height: 300px"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="tile">
                                <h2 class="tile-title">Нация</h2>
                                <div class="p-10">
                                    <div id="pie-chart2" class="main-chart" style="height: 300px"></div>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                

            <!-- Older IE Message -->
            <!--[if lt IE 9]>
                <div class="ie-block">
                    <h1 class="Ops">Ooops!</h1>
                    <p>You are using an outdated version of Internet Explorer, upgrade to any of the following web browser in order to access the maximum functionality of this website. </p>
                    <ul class="browsers">
                        <li>
                            <a href="https://www.google.com/intl/en/chrome/browser/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Google Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Mozilla Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com/computer/windows">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://safari.en.softonic.com/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/downloads/ie-10/worldwide-languages">
                                <img src="img/browsers/ie.png" alt="">
                                <div>Internet Explorer(New)</div>
                            </a>
                        </li>
                    </ul>
                    <p>Upgrade your browser for a Safer and Faster web experience. <br/>Thank you for your patience...</p>
                </div>   
            <![endif]-->

        <!-- Javascript Libraries -->
        <!-- jQuery -->

