<div class="container">
  <div class="row">
    <!--<div class="Absolute-Center is-Responsive">       -->
    <section id="login" >
      <!--    <header>
              <h1>Танки!</h1>
              <p>Введите имя пользователя.</p>
          </header>
      -->
      <!-- Login -->
      <!-- tile -->
      <%= form_for(:session, url: root_path, method: :get, html: {class: 'box tile animated active form-inline', id: 'box-login'} ) do |f| %>
          <h4 class="m-t-0 m-b-15">Статистика для World of Tanks</h4>
          <% if flash[:danger] %>
              <span><%= flash[:danger] %></span>
          <% end %>
          <div class="clearfix">
            <%= f.text_field :user, class: 'form-control' %>
            <%= f.submit "Игрок", class: "btn btn-default" %>
          </div>
      <% end %>
      <!--<form class="box tile animated active form-inline" id="box-login" ng-submit="findUser()" >
        <h4 class="m-t-0 m-b-15">Статистика для World of Tanks</h4>

        <div class="clearfix">
          <input type="text" class="form-control" placeholder="" value="" >
          <button type="submit" class="btn btn-default" >Игрок</button>
        </div>
      </form> -->

    </section>
    <!--</div>-->
  </div>
</div>

<div class="block-area" id="jumbotron">
  <div class="jumbotron tile-light">
    <div class="container text-center">
      <p class="text-center">Чтобы получить статистику - вводи имя игрока и жми кнопку!</p>

      <h5>Что это?</h5>
      imbalol.ru - Сервис получения расширенной общей статистики для <br />
      игрока World of tanks, в том числе wn8(альфа) кпд, wn7, % побед.<br />
      А также у нас можно посмотреть детализацию параметра wn8 по <br />
      каждому танку, получить рекомендации о том как повысить КПД в WOT.
    </div>
  </div>
</div>
<a href="/main/1qweqeq">Aaa</a>
<!-- link_to "Test link", main_path( :filter => "1234") -->