<% content_for :content do %>
    <ol class="breadcrumb hidden-xs">
      <li><a href ng-click="toInfo()">Способы подсчета</a></li>
      <li><a href ng-click="toStart()">Поиск</a></li>
      <!--<li><a href="#">Library</a></li> -->
      <li class="active">Игрок</li>
    </ol>

    <h4 class="page-title">ТЕХНИКА ИГРОКА</h4>

    <!-- Shortcuts -->
    <div class="block-area shortcut-area">
      <div class="table-responsive overflow">
        <table class="table table-bordered table-hover tile">
          <thead>
          <tr>
            <th>#</th>
            <th>Бронетехника</th>
            <th>Тип</th>
            <th>Нация</th>
            <th>Лвл</th>
            <th>Кол.боев</th>
            <th>Процент побед</th>
            <th>WN8</th>
            <th>WN8 Dmg</th>
            <th>WN8 WR%</th>
            <th>WN8 Spot</th>
            <th>WN8 Frag</th>
          </tr>
          </thead>
          <tbody>
          <% @tanks.order(wn8: :desc).each do |tank| %>
              <tr>
                <td><%= @idx+1 %></td>
                <td><%= tank.tank_name %> </td>
                <td><%= tank.tank_type %> </td>
                <td><%= tank.tank_nation %> </td>
                <td><%= tank.tank_lvl %> </td>
                <td><%= tank.battles %></td>
                <td><%= tank.win_rate %>% </td>
                <td><%= tank.wn8 %> </td>
                <td><%= tank.r_dmg_c %> </td>
                <td><%= tank.r_win_c %>% </td>
                <td><%= tank.r_spot_c %> </td>
                <td><%= tank.r_frag_c %> </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>


<% end %>
<%= render template: "layouts/user_frame" %>