<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <meta charset="UTF-8">
  <!--<base href="/">-->
  <meta http-equiv="Content-Language" content="ru">
  <meta name='yandex-verification' content='582381a1c4dc9c16' />
  <meta name="google-site-verification" content="VeXbj5ODd8IKL3v0UtzUJWa6C-mZJvmW-sjeytJNlbs" />
  <meta name="description" content="Статистика World of Tanks">
  <meta name="keywords" content="WOT, World of tanks, Стата WOT, Статистика WOT, Статистика игрока World of Tanks, Статистика , Статистика World of Tanks, Игрока, World, Tanks, Имба WOT, Имба World of tanks, Имба, Нагибатор WOT, нагибатор World of tanks, Нагибатор, Рак WOT, Рак World of tanks, Рак , Раки, Реплей WOT, Реплей World of tanks, Танки статистика, Танки, Статистика мир танков, Статистика игрока мир танков, мир, Танков, Стата мир танков, Рейтинг Эффективности , WN7, WN8, нубометер , стволомерка, боевая эффективность World of tanks, wn8 что это, боевая Эффективность WOT, боевая эффективность мир танков, noobometer, xvm, рейтинг нагиба мир танков, рейтинг нагиба, рейтинг, нагиба, нагиб, моды WOT, моды мира танков, wotreplays, стата в вот, как проверить кпд, КПД ВОт, расширенная статистика в world of tanks, imbalol, imba, lol, imba lol, имбалол, имба лол">
  <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
  <title>Танки! Статистика. Имбалол сервис статистики World of tanks. Узнай свой wn8 кпд своих танков WOT!</title>

  <!-- CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/animate.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/form.css" rel="stylesheet">
  <link href="/css/calendar.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/icons.css" rel="stylesheet">
  <link href="/css/generics.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="skin-blur-greenish">

    <%= content_for?(:application) ? yield(:application) : yield %>


    <!-- Javascript Libraries -->
    <script src="/js/jquery.min.js"></script> <!-- jQuery Library -->
    <script src="/js/jquery-ui.min.js"></script> <!-- jQuery UI -->
    <script src="/js/jquery.easing.1.3.js"></script> <!-- jQuery Easing - Requirred for Lightbox + Pie Charts-->

    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Charts -->
    <script src="/js/charts/jquery.flot.js"></script> <!-- Flot Main -->
    <script src="/js/charts/jquery.flot.time.js"></script> <!-- Flot sub -->
    <script src="/js/charts/jquery.flot.animator.min.js"></script> <!-- Flot sub -->
    <script src="/js/charts/jquery.flot.resize.min.js"></script> <!-- Flot sub - for repaint when resizing the screen -->
    <script src="/js/charts/jquery.flot.pie.min.js"></script> <!-- Flot Pie chart -->
    <script src="/js/sparkline.min.js"></script> <!-- Sparkline - Tiny charts -->
    <!--<script src="js/easypiechart.js"></script> --> <!-- EasyPieChart - Animated Pie Charts -->
    <script src="/js/charts.js"></script> <!-- All the above chart related functions -->

    <!-- Map -->
    <script src="/js/maps/jvectormap.min.js"></script> <!-- jVectorMap main library -->
    <script src="/js/maps/usa.js"></script> <!-- USA Map for jVectorMap -->

    <!--  Form Related -->
    <script src="/js/icheck.js"></script> <!-- Custom Checkbox + Radio -->
    <script src="/js/select.min.js"></script>
    <script src="/js/colorpicker.min.js"></script>

    <!-- UX -->
    <script src="/js/scroll.min.js"></script> <!-- Custom Scrollbar -->
    <script src="/js/toggler.min.js"></script>
    <!-- Other -->
    <script src="/js/calendar.min.js"></script> <!-- Calendar -->
    <script src="/js/feeds.min.js"></script> <!-- News Feeds -->


    <!-- All JS functions -->
    <script src="/js/functions.js"></script>
    <!-- angular -->
    <!-- <script src="js/angular.min.js"></script> -->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <!--<script src="js/angular-resource.min.js"></script> -->
    <!-- <script src="js/angular-route.min.js"></script> -->
    <!--<script src="js/angular-sanitize.min.js"></script> -->
    <script src="/js/angular/app.js"></script>
    <script src="/js/angular/services/search.service.js"></script>
    <script src="/js/angular/controllers/search.controller.js"></script>
    <script src="/js/angular/controllers/userdata.controller.js"></script>
    <script src="/js/angular/controllers/usertech.controller.js"></script>
    <script src="/js/angular/controllers/info.controller.js"></script>
    <script src="/js/angular/controllers/calc.controller.js"></script>
    <script src="/js/angular/controllers/sign.controller.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-65571236-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter31780306 = new Ya.Metrika({
                        id:31780306,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/31780306" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- begin of Top100 code -->

<!--    <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3127360"></script>
    <noscript>
      <a href="http://top100.rambler.ru/navi/3127360/">
        <img src="http://counter.rambler.ru/top100.cnt?3127360" alt="Rambler's Top100" border="0" />
      </a>

    </noscript>-->
    <!-- end of Top100 code -->
    <!--LiveInternet counter-->
<!--    <script type="text/javascript">&lt;!&ndash;
    document.write("<a href='//www.liveinternet.ru/click' "+
            "target=_blank><img src='//counter.yadro.ru/hit?t25.12;r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";"+Math.random()+
            "' alt='' title='LiveInternet: показано число посетителей за"+
            " сегодня' "+
            "border='0' width='88' height='15'><\/a>")
    //&ndash;&gt;</script>&lt;!&ndash;/LiveInternet&ndash;&gt;-->
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
