<%= content_for :application do %>

    <section ng-app="mainApp">
    <header id="header" class="media">
      <a href="" id="menu-toggle"></a>
      <span class="logo pull-left" ><%= @user.user_name unless @user.nil? %></span>
      <div class="media-body">
        <div class="media" id="top-menu">
          <div class="pull-left tm-icon">
            <a data-drawer="messages" class="drawer-toggle" href="">
              <i class="sa-top-message"></i>
              <span>Отправить отзыв</span>
            </a>
          </div>
          <div class="pull-left tm-icon">
            <a data-drawer="notifications" class="drawer-toggle" href="">
              <i class="sa-top-updates"></i>
              <span>О нас</span>
            </a>
          </div>
          <!-- <a href ng-click="toStart()"><span class="icon">&#61771;</span></a> -->
          <div id="time" class="pull-right">
            <span id="hours"></span>
            :
            <span id="min"></span>
            :
            <span id="sec"></span>
          </div>

          <!--<div class="media-body">
              <input type="text" class="main-search">
          </div> -->
        </div>
      </div>
    </header>

    <div class="clearfix"></div>

    <section id="main" class="p-relative" role="main" >

      <!-- Sidebar -->
      <aside id="sidebar">

        <!-- Sidbar Widgets -->
        <div class="side-widgets overflow">
          <!-- Profile Menu -->
          <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
            <a href="" data-toggle="dropdown">
              <img class="profile-pic animated" src="<%= @user.clan_emblem  unless @user.nil? %>" alt="<%= @user.clan_name  unless @user.nil? %>">
            </a>
            <h4 class="m-0"><%= @user.user_name  unless @user.nil? %></h4>
            <%= @user.clan_name  unless @user.nil? %>
          </div>

          <!-- Calendar -->
          <div class="s-widget m-b-25">
            <div id="sidebar-calendar"></div>
          </div>

          <!-- Feeds -->
          <div class="s-widget m-b-25">
            <h2 class="tile-title">
              Новости
            </h2>

            <div class="s-widget-body">
              <div id="news-feed"></div>
            </div>
          </div>

        </div>

        <!-- Side Menu -->
        <ul class="list-unstyled side-menu" ng-controller="MenuController">
          <li ng-class="{ active: isActive('/main/<%= params[:filter] %>')}">
            <%= link_to main_path(params[:filter]), class: "sa-side-home" do %>
            <!--<a class="sa-side-home" href>-->
              <span class="menu-item">Общая статистика</span>
            <% end  %>
            <!--</a>-->
          </li>
          <!--'active' if current_page?(:controller => 'pages', :action => 'tech')-->
          <li ng-class="{ active: isActive('/main/<%= params[:filter] %>/tech')}">
            <a class="sa-side-typography" href="/main/<%= params[:filter] %>/tech">
              <span class="menu-item">Список техники</span>
            </a>
          </li>
          <li ng-class="{ active: isActive('/main/<%= params[:filter] %>/info')}">
            <a class="sa-side-spam" href="/main/<%= params[:filter] %>/info">
              <span class="menu-item">Способы подсчета</span>
            </a>

          </li>
          <li ng-class="{ active: isActive('/main/<%= params[:filter] %>/calc')}">
            <a class="sa-side-widget" href="/main/<%= params[:filter] %>/calc">
              <span class="menu-item">Калькулятор WN8</span>
            </a>
          </li>
          <li ng-class="{ active: isActive('/main/<%= params[:filter] %>/sign')}">
            <a class="sa-side-photos" href="/main/<%= params[:filter] %>/sign">
              <span class="menu-item">Генератор подписи</span>
            </a>
          </li>          
          <li>
            <a class="sa-side-back" target="_self" data-ng-href="/" href="/">
              <span class="menu-item">Новый поиск</span>
            </a>
          </li>
        </ul>
      </aside>

      <!-- Content -->
      <section id="content" class="container">

        <div id="messages" class="tile drawer animated">
          <div class="listview narrow">
            <div class="media">
              <a href="">Отправить отзыв</a>
              <span class="drawer-close">&times;</span>

            </div>
            <div class="overflow" style="height: 254px" ng-controller="FeedbackController">
              <div class="media">
                <span>{{feedback.formInfo}}</span>
                <span class="error" ng-show="fedbackForm.femail.$error.email">Email не соответствует формату!</span>
                <form class="box tile animated active" id="box-login" ng-submit="sendFeedback()" name="fedbackForm">
                  <textarea class="form-control overflow" rows="8" ng-model="feedback.message" placeholder="Ваши предложения и пожелания..." required></textarea>
                  <input type="email" name="femail" class="form-control" placeholder="Ваш e-mail" ng-model="feedback.email" required >
                  <button class="btn btn-sm" type="submit" ng-disabled="!fedbackForm.$valid">Отправить</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Notification Drawer -->
        <div id="notifications" class="tile drawer animated">
          <div class="listview narrow">
            <div class="media">
              <a href >О нас</a>
              <span class="drawer-close">&times;</span>
            </div>
            <div class="overflow" style="height: 254px">
              <article class="block-area">
                <h3>imbalol.com</h3>
                <blockquote>
                  <p>Сервис получения краткой и полезной общей статистики для игрока World of tanks, в том числе wn8 кпд, wn7, % побед.
                    А также информации по технике игрока, детализация коэффициента wn8 по каждому танку.
                    Если вы заметили, что статистика считается неверно - сообщите нам примеры с конкретными игроками.
                  </p>
                </blockquote>
              </article>
            </div>
          </div>
        </div>
        <!-- Breadcrumb -->
        <ol class="breadcrumb hidden-xs">
          <li><a href="/main/<%= params[:filter] %>/info">Способы подсчета</a></li>
          <li><a target="_self" data-ng-href="/" href="/">Поиск</a></li>
          <!--<li><a href="#">Library</a></li> -->
          <li ng-class="{ active: isActive('/main/<%= params[:filter] %>')}">
<!--            <div ng-switch on="isActive('/main/<%= params[:filter] %>')">-->
                <a href="/main/<%= params[:filter] %>">Игрок</a>
<!--            </div>-->
          </li>
        </ol>

        <%= content_for?(:content) ? yield(:content) : yield %>
        <!-- params[:filter] -->
      </section>

    </section>
<!--    <script type="text/javascript">
      $(document).ready(function(){
          $('body').on('click touchstart', '#menu-toggle', function(e){
              e.preventDefault();
              $('html').toggleClass('menu-active');
              $('#sidebar').toggleClass('toggled');
              //$('#content').toggleClass('m-0');
          });

          $('body').on('click touchstart', '.drawer-toggle', function(e){
              e.preventDefault();
              var drawer = $(this).attr('data-drawer');

              $('.drawer:not("#'+drawer+'")').removeClass('toggled');

              if ($('#'+drawer).hasClass('toggled')) {
                  $('#'+drawer).removeClass('toggled');
              }
              else{
                  $('#'+drawer).addClass('toggled');
              }
          });

          //Close when click outside
          $(document).on('mouseup touchstart', function (e) {
              var container = $('.drawer, .tm-icon');
              if (container.has(e.target).length === 0) {
                  $('.drawer').removeClass('toggled');
                  $('.drawer-toggle').removeClass('open');
              }
          });

          //Close
          $('body').on('click touchstart', '.drawer-close', function(){
              $(this).closest('.drawer').removeClass('toggled');
              $('.drawer-toggle').removeClass('open');
          });
          wLoad();
          dLoad();
      });
    </script>-->
    </section>
<% end %>
<%= render template: "layouts/application" %>